* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Share Tech Mono", monospace;
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  position: fixed;
  overflow: hidden;
}

#root {
  background: rgb(236, 236, 236);
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: url("https://user-images.githubusercontent.com/5732000/111932309-8b7d4380-8a93-11eb-8151-44b40b2e65aa.png")
      10 10,
    auto;
}

button {
  font-size: calc(10px + 2vmin);
  font-family: "Share Tech Mono", monospace;
}
